<!DOCTYPE html>
{% extends 'base.html' %}
{% block body_block %}

<div class="jumbotron">
    <h1>Please Login</h1>
    <form action="{% url 'basicApp:user_login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" id = 'username' name="username" placeholder="Enter username">

        <label for="password">Password: </label>
        <input type="password" name="password" id="password" placeholder="Enter password">

        <input type="submit" value="Login">
    </form>

</div>

{% endblock %}